body {
  font-family: 'Roboto', Helvetica, Verdana;
}

.navbar {
  margin-bottom: 0;
}

.carousel-inner img {
  height: 540px!important;
  width: 100%!important;
}

#seccion_inicio {
  padding: 100px;
  color: white;
  background-image: url(http://www.pianolessons4all.com/wp-content/uploads/2014/12/pianobg.png);
}

#seccion_slider {
  padding: 25px 100px 100px 100px;
  color: white;
  background-image: url(http://www.glassclinics.com/themes/base/assets/img/main-bg.jpg);
}

#carousel-example-generic {
  padding-top: 30px;
}

#piano {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#piano2 {
  width: 350px;
  height: 350px;
  margin-left: 100px;
}

.wallpaper1 {
  background-image: url(https://images6.alphacoders.com/391/391336.jpg);
  height: 75vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wallpaper2 {
  background-image: url(http://wallpapersdsc.net/wp-content/uploads/2017/04/Piano-Wallpaper-.jpg);
  height: 75vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#seccion_porque {
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 20px;
}

#seccion_como {
  font-size: 20px;
  color: white;
  padding: 50px;
  background-image: url(http://www.glassclinics.com/themes/base/assets/img/main-bg.jpg);
}

#mecanismo {
  padding: 20px;
  max-width: 500px;
  max-height: 500px;
}

#seccion_servicios {
  padding: 35px;
}

#seccion_servicios h1, h3 {
  margin-top: 0;
}

#servicio {
  color: white;
  background: #272727;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px #787878;
}

#seccion_contacto {
  font-size: 20px;
  color: white;
  padding: 20px;
  background-image: url(http://www.glassclinics.com/themes/base/assets/img/main-bg.jpg);
}
